---
import CvIcon from "./icons/SocialNetworks/CvIcon.astro";
import DiscordIcon from "./icons/SocialNetworks/DiscordIcon.astro";
import GitHubIcon from "./icons/SocialNetworks/GitHubIcon.astro";
import LinkedinIcon from "./icons/SocialNetworks/LinkedinIcon.astro";
import WhatsappIcon from "./icons/SocialNetworks/WhatsappIcon.astro";
---

<div class="flex flex-wrap mt-5">
    <!--
    <a class="w-20 h-20 flex items-center justify-center rounded-full hover:text-white  hover:bg-[#f09433] hover:bg-gradient-to-br hover:from-yellow-500 hover:via-red-500 hover:to-purple-800 hover:animate-bounce  transition duration-250 ease-linear">
        <InstagramIcon />
    </a>
    -->
    <a class="w-20 h-20 flex items-center justify-center rounded-full hover:text-white  hover:bg-[#242c34] hover:animate-bounce transition duration-250 ease-linear">
        <WhatsappIcon />          
    </a>
    <a class="w-20 h-20 flex items-center justify-center rounded-full hover:text-white  hover:bg-[#242c34] hover:animate-bounce transition duration-250 ease-linear">
        <GitHubIcon />          
    </a>
    <a class="w-20 h-20 flex items-center justify-center rounded-full hover:text-white  hover:bg-[#5865f2] hover:animate-bounce transition duration-250 ease-linear">
      <DiscordIcon/>
    </a>
    <a class="w-20 h-20 flex items-center justify-center rounded-full hover:text-white  hover:bg-[#0a66c2] hover:animate-bounce transition duration-250 ease-linear">
      <LinkedinIcon />
    </a>
    <a class="w-20 h-20 flex items-center justify-center rounded-full hover:text-white  hover:bg-[#0a66c2] hover:animate-bounce transition duration-250 ease-linear">
        <CvIcon />
    </a>
</div>