---
import CvIcon from "./icons/social_networks/CvIcon.astro";
import DiscordIcon from "./icons/social_networks/DiscordIcon.astro";
import GitHubIcon from "./icons/social_networks/GitHubIcon.astro";
import LinkedinIcon from "./icons/social_networks/LinkedinIcon.astro";
import WhatsappIcon from "./icons/social_networks/WhatsappIcon.astro";
---

<div class="flex flex-wrap mt-5">
    <!--
    <a class="w-20 h-20 flex items-center justify-center rounded-full hover:text-white  hover:bg-[#f09433] hover:bg-gradient-to-br hover:from-yellow-500 hover:via-red-500 hover:to-purple-800   transition duration-250 ease-linear">
        <InstagramIcon />
    </a>
    
    <a class="w-20 h-20 flex items-center justify-center rounded-full hover:text-white  hover:bg-[#242c34]  transition duration-250 ease-linear">
        <WhatsappIcon />          
    </a>
    -->
    
    <a href="https://github.com/infinityroy" target="_blank" title="GitHub Link" class="w-20 h-20 flex items-center justify-center rounded-full hover:text-white  hover:bg-[#242c34]  transition duration-250 ease-linear">
        <GitHubIcon />          
    </a>

    <a href="https://discordapp.com/users/443881906770280475" target="_blank" title="Discord Link" class="w-20 h-20 flex items-center justify-center rounded-full hover:text-white  hover:bg-[#5865f2]  transition duration-250 ease-linear">
      <DiscordIcon/>
    </a>

    <a href="https://www.linkedin.com/in/roy-jes%C3%BAs-chavarr%C3%ADa-garita-4ba266105/" target="_blank" title="Curriculum Link" class="w-20 h-20 flex items-center justify-center rounded-full hover:text-white  hover:bg-[#0a66c2]  transition duration-250 ease-linear">
      <LinkedinIcon />
    </a>
    
    <a  href="CvEs.pdf" target="_blank" title="Curriculum Link" class="w-20 h-20 flex items-center justify-center rounded-full hover:text-white  hover:bg-slate-600  transition duration-250 ease-linear">
        <CvIcon />
    </a>
</div>