
---
import Experience from "./Experience.astro";
import WorkExperience from "./icons/portfolio_icons/WorkExperienceIcon.astro";
---
<section class="mt-20">
    <div class="flex items-end">
        <WorkExperience />
        <h1 class="text-3xl font-bold ml-4">Experience</h1>
    </div>

    <ol class="relative border-s border-red-950 dark:border-neutral-400 mt-6">                  
        <li class="mb-10 ms-4">
            <Experience title="Banco Popular de Costa Rica" description="Cloud Microservices Developer" year="2023" />
        </li>
        <li class="mb-10 ms-4">
            <Experience title="Asada Santiago Sur" description="App Mobile" year="2022" />
        </li>
    </ol>
    
</section>

