
---
import Experience from "./Experience.astro";
---
<section class="">
    <h1 class="text-3xl font-bold mt-10 mb-10">Experience</h1>

    <ol class="relative border-s border-red-950 dark:border-neutral-400">                  
        <li class="mb-10 ms-4">
            <Experience title="Cloud Microservices Developer" description="Backend developer" year="2023" />
        </li>
        <li class="mb-10 ms-4">
            <Experience title="Mobile Developer" description="App" year="2022" />
        </li>
        <li class="ms-4">
            <Experience title="Banco Popular de Costa Rica" description="Backend developer" year="2022"  />
        </li>
    </ol>
    
</section>

