<section class="mt-8 mb-8">
    <footer class="bg-gray-300 dark:bg-slate-500 mb-24 text-white py-4 text-center rounded">
        <div class="container mx-auto dark:text-gray-50 text-black">
          <p>© <script type="text/javascript">document. write( new Date(). getFullYear() );</script> Roy. Todos los derechos reservados.</p>
        </div>
      </footer>
</section>
