<header>
    <nav>
        <a href="#profile">Perfil</a>
        <a href="#experience">Experiencia</a>
        <a href="#projects">Proyectos</a>
        <a href="#tecnologies">Tecnologías</a>
    </nav>
</header>