<header class="mx-auto">
    <nav class="">
        <a class="px-2 py-2 rounded-full hover:bg-red-700 dark:hover:bg-blue-700" href="#tecnologies" href="#profile">Perfil</a>
        <a class="px-2 py-2 rounded-full hover:bg-red-700 dark:hover:bg-blue-700" href="#tecnologies" href="#experience">Experiencia</a>
        <a class="px-2 py-2 rounded-full hover:bg-red-700 dark:hover:bg-blue-700" href="#tecnologies" href="#projects">Proyectos</a>
        <a class="px-2 py-2 rounded-full hover:bg-red-700 dark:hover:bg-blue-700" href="#tecnologies">Tecnologías</a>
    </nav>
</header>