
<section 
    class="flex mt-10">
    <img 
        src="profileWhite.jpg" 
        alt="Descripción relevante con palabras clave"
        class="w-20 h-20 rounded-full mr-8 mb-2"
        title="Profile Photo"
    >
    <div class="flex flex-col justify-end">
        <h1 class="text-2xl lg:text-2xl mb-2" >Hi! I'm Roy.</h1>
        <h2 class="text-xl lg:text-xl">
            <span class="max-w-custom ">
            </span>
        </h2>
    </div>
    
</section>