
<section 
    class={`mt-10
            flex-items-center

            `}>
    <img 
        src="profileWhite.jpeg" 
        alt="Descripción relevante con palabras clave"
        class={`w-20 h-20
                rounded-full
                mr-8
                mb-2
                `}
    >
    <div>
        <h1 class="text-2xl lg:text-2xl mb-2" >Hola, soy Roy</h1>
        <h2 class="text-xl lg:text-xl">
            <span 
                class="max-w-custom ">
                Ingeniero en Computación del Tecnológico de Costa Rica.
            </span>
        </h2>
    </div>
    
</section>