---
import Project from "./Project.astro";
import WorkExperience from "./icons/experience_icons/WorkExperience.astro";
import AppMobileIcon from "./icons/projects_icons/AppMobileIcon.astro";



---


<section class="mt-20">
    
    <div class="flex items-end">
        <WorkExperience />
        <h1 class="text-3xl font-bold ml-4">Projects</h1>
    </div>
    
    <ul class="container px-5 mt-6 mx-auto">
        <li>
            <Project
                name={"Asada Santiago Sur"} 
                description={"The application to record, verify, and upload monthly water measurements for the customers of the water utility (ASADA)."} 
                tecnologies={['Flutter', 'MySql', 'VsCode', 'GitHub']}
                codeLink={'https://github.com/miroydev/Proyectos-Universitarios/tree/main/Proyecto-Asada-Santiago-Sur'}
                link=""
                >
                <AppMobileIcon slot="project-image" />
            </Project>
        </li>
    </ul>
</section>