---
import Tecnologie from "./Tecnologie.astro";

import Python from "./icons/tecnologies/Python.astro";
import Java from "./icons/tecnologies/Java.astro";
import C from "./icons/tecnologies/C.astro";
import Csharp from "./icons/tecnologies/Csharp.astro";
import VisualStudio from "./icons/tecnologies/VisualStudio.astro";
import Spring from "./icons/tecnologies/Spring.astro";
import Redis from "./icons/tecnologies/Redis.astro";
import Postgres from "./icons/tecnologies/Postgres.astro";
import Mongo from "./icons/tecnologies/Mongo.astro";
import TecnologiesIcon from "./icons/portfolio_icons/TecnologiesIcon.astro";
---

<section class="mt-20">
	
	<div class="flex items-end">
        <TecnologiesIcon />
        <h1 class="text-3xl font-bold ml-4">Tecnologies</h1>
    </div>

	<div class="inline-flex items-center justify-center flex-wrap gap-4 p-4 mt-6 border-transparent rounded-2xl border-4 dark:bg-gray-800">
		<Tecnologie name='Python'> <Python /> </Tecnologie>
		<Tecnologie name='Java'><Java /> </Tecnologie>
		<Tecnologie name='C'> <C /> </Tecnologie>
		<Tecnologie name='Csharp'> <Csharp /></Tecnologie>
		<Tecnologie name='Visual Studio'> <VisualStudio /> </Tecnologie>
		<Tecnologie name='Spring'><Spring /> </Tecnologie>
		<Tecnologie name='Java Script'> <C /> </JavaScript>
		<Tecnologie name='Redis'> <Redis /></Tecnologie>
		<Tecnologie name='Java Script'> <C /> </JavaScript>
		<Tecnologie name='MySql'> <C /> </MySql>
		<Tecnologie name='Postgres'> <Postgres /></Tecnologie>
		<Tecnologie name='Mongo'> <Mongo /></Tecnologie>
	</div>
</section>

